@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
  .subscribe-input {
    width: 398px;
  }
  .customers-item {
  }
  .customers-link {
    padding: 16px 40px;
  }

  .modal {
    width: 408px;
  }

   .mob-social-list {
    gap: 56px;
   }
}

/* ----------------768 px--------------------------- */
/* ------------------------------------------------- */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header .container {
    border-bottom: 1px solid var(--cornflower, #e7e9fc);
  }

  .nav-page .logo-web {
    margin-right: 120px;
  }

  .menu-open-btn {
    display: none;
  }

  .btn-list {
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 72px;
  }

  .header .container {
    margin-top: 0;
    margin-bottom: 0;
  }
  .contacts {
    color: var(--slate, #434455);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .open-menu-btn {
    display: none;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tab-2x.jpg);
    }
  }
  .hero-title {
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
  }

  .hero-btn {
    margin-bottom: 36px;
  }

  .features {
    gap: 72px 24px;
  }

  .hero-feature {
    margin-left: 0;
    margin-bottom: 8px;
    text-align: start;
  }

  .hero-text {
    max-width: 356px;
    align-items: stretch;
  }

  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .cards .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cards .list {
    max-width: 552px;

    column-gap: 24px;
    row-gap: 64px;

    flex-basis: calc((100% - 24px) / 2);
  }
  .cards-list {
    margin: 0 auto;
  }

  .list-header {
    display: flex;
    margin-right: 121px;
  }
  .list-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .customers {
    padding: 96px 0;
  }
  .customers-link {
    padding: 16px 32px;
  }

 

  /* ----------------------portfolio--768---------------- */

  .portfolio {
    padding: 64px 0 128px 0;
  }

  .wraps {
    margin-right: 0;
  }

  .btn-list {
    margin-bottom: 64px;
  }

  .btn-text {
    padding: 12px 24px;
  }

  .item-portfolio {
    width: calc((100% - 24px) / 2);
  }
  /* .list-portfolio {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
} */

  /* ---------------------------------footer---------- */

  .footer {
    min-width: 768px;
  }

  .subscribe-input {
    width: 264px;
  }

  .futer-logo {
    display: flex;
    /* flex-direction: row; */
    margin-right: 24px;
  }

  .subscribe {
    margin-top: 0;
  }
  .subscribe-form {
    flex-direction: row;
  }
  .subscribe-title {
    align-items: flex-start;
  }

  .footer .container {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    padding-left: 108px;
    /* padding-top: 96px;
  padding-bottom: 96px; */
  }
  .footer-social-media {
    margin-bottom: 0;
    justify-content: flex-start;
  }
  .footer .logo-web {
    justify-content: flex-start;
  }
  .footer-text {
    margin-bottom: 72px;
  }

  .modal {
    padding: 72px 25px 24px 23px;
  }
  .modal-label-text { 
  display: inline;  
}
.modal-title {
  display: inline;
}

}

/* -----------------------1158 px--------------------- */
/* --------------------------------------------------- */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;

    padding-left: 15px;
    padding-right: 15px;
  }

  .header .container {
    border-bottom: 1px solid var(--cornflower, #e7e9fc);
    max-width: 1440px;
  }

  .nav-page .logo-web {
    margin-right: 76px;
  }

  .menu-open-btn {
    display: none;
  }

  .btn-list {
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 72px;
  }

  .contacts {
    color: var(--slate, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-pc.jpg);
    /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-pc-2x.jpg);
    }
  }

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .hero-btn {
    margin-bottom: 48px;
  }

  .feature {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features {
    /* display: flex; */
  }

  .features-item {
    /* flex-wrap: nowrap; */
    align-items: center;
    flex-direction: column;
    max-width: 264px;
    /* width: calc((100% - 3 * 24px) / 4); */
  }

  .hero-feature {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: start;
  }

  .feature-text-block {
  }

  .hero-text {
    font-weight: 400;
  }

  .features-icon {
    display: flex;
    flex-shrink: 0;
  }

  .skills {
    display: flex;
  }

  .cards {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .cards .list {
    gap: 24px;
    flex-basis: calc((100% - 72px) / 4);
    max-width: 100%;
  }

  .cards-list {
    margin: 0 auto;
  }

  .list-header {
    display: flex;
    margin-right: 121px;
  }
  .list-address {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
  }
  .customers-link {
    padding: 16px 32px;
  }
  .modal-label-text { 
  display: inline;  
}

.modal-title {
  display: inline;
}

  /* --------------------------------portfolio---1158----------------- */

  .portfolio {
    padding: 100px 0 120px 0;
  }

  .btn-list {
    margin-bottom: 72px;
  }

  .btn-text {
    padding: 12px 24px;
  }

  .wraps {
    margin-right: 0;
  }

  .item-portfolio {
    width: calc((100% - 48px) / 3);
  }

  /* ------------------------------------footer--------------------- */

  .footer .logo-web {
    display: inline-block;
    margin-bottom: 16px;
  }

  .footer-text {
    width: 264px;
    margin-bottom: 0;
  }

  .footer .container {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
  }
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-social-media {
    display: inline;
  }

  .futer-logo {
    margin-right: 120px;
  }

  .footer-social {
    margin-right: 80px;
  }

  .subscribe {
    display: flex;
    margin-top: 0;
    width: auto;
  }

  .subscribe-title {
    display: block;
    max-width: 74px;
  }

  .subscribe-form {
    display: flex;
    align-items: normal;
    flex-direction: row;
  }
  .subscribe-input {
    width: 264px;
  }

  .modal {
    padding: 72px 24px 24px;
  }

  
}
