@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }
}
/* ----------------768 px--------------------------- */
/* ------------------------------------------------- */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .features {
    gap: 72px 24px;
  }

  .hero-feature {
    /* text-transform: capitalize; */
    margin-left: 0;
    margin-bottom: 8px;
  }

  .hero-text {
    max-width: 356px;
    align-items: stretch;
  }

  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  /* .cards .list {
  flex-direction: column;
  max-width: 552px;
  justify-content: center;
  align-items: center;
  gap: 64px 24px;
  flex-basis: calc((100% - 24px) / 2);
  
}
.cards-list {
  margin: 0 auto;
  
} */
  .cards .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cards .list {
    max-width: 552px;

    column-gap: 24px;
    row-gap: 64px;

    flex-basis: calc((100% - 24px) / 2);
  }
  .cards-list {
    margin: 0 auto;
  }

   .list-header,
.list-address {
  display: flex;
  
}

}


/* -----------------------1158 px--------------------- */
/* --------------------------------------------------- */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .feature {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features {
    /* display: flex; */
  }

  .features-item {
    /* flex-wrap: nowrap; */
    align-items: center;
    flex-direction: column;
    max-width: 264px;
    /* width: calc((100% - 3 * 24px) / 4); */
  }

  .hero-feature {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .hero-text {
    font-weight: 400;
  }

  .features-icon {
    display: flex;
    flex-shrink: 0;
  }

  .skills {
    display: flex;
  }

  .cards {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .cards .list {
    gap: 24px;
    flex-basis: calc((100% - 72px) / 4);
  max-width: 100%;}

  .cards-list {
    margin: 0 auto;
  }

  .list-header,
.list-address {
  display: flex;
  
}
}

